body {
    font-family: 'Montserrat', sans-serif;
    background-color: #262526;
    color: #F2F2F2;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #262526;
    color: #F2F2F2;
    margin-bottom: 30px;
    padding: 10px 20px;
}

p {
    font-size: 18px; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.modal-content {
    background-color: #F2F2F2; 
    color: #262526; 
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #D92332;
    border-radius: 10px;
    width: 60%; 
    max-width: 400px; 
    text-align: center; 
}

#close {
    color: #D94350;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #D92332;
    text-decoration: none;
    cursor: pointer;
}

#contact-btn {
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F2F2F2;
    color: #262526;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#contact-btn:hover {
    color: #F2F2F2;
    background-color: #262526;
}

#vincent-photo {
    display: grid;
    place-items: center; 
    margin-bottom: 20px; 
    transition: transform 0.3s ease;
}

#vincent-photo img {
    max-width: 100%; 
    height: auto;
}

#vincent-photo img:hover {
    transform: scale(1.03); 
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%; 
    }
}
